# Ignorar dependências
node_modules/

# Ignorar build do Vite
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cache do Vite
.vite/

# Sistema do VSCode
.vscode/

# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# Env (caso use)
.env
.env.local
