.busca-input {
  width: 300px;
  padding: 10px;
  margin: 20px 0;
  border: 2px solid #00ff88;
  background: #000;
  color: #00ff88;
  border-radius: 8px;
}

.modal-bg {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  width: 400px;
  background: #000;
  padding: 20px;
  border: 2px solid #00ff88;
  border-radius: 12px;
  color: #00ff88;
}

.modal-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: #000;
  color: #00ff88;
  border: 1px solid #00ff88;
  border-radius: 6px;
}

.btn-salvar {
  width: 100%;
  background: #00ff88;
  color: #000;
  padding: 10px;
  border-radius: 6px;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}

.modal-close {
  float: right;
  background: red;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
