.tabela-neon {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.tabela-neon th {
  background: #00ff88;
  color: #000;
  padding: 10px;
}
.tabela-neon td {
  padding: 10px;
  border-bottom: 1px solid #00ff88;
  color: #fff;
}
.btn-editar {
  margin-right: 10px;
  background: #00ff88;
  color: #000;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 6px;
}
.btn-excluir {
  background: red;
  color: #fff;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 6px;
}
